fastapi==0.119.0
uvicorn==0.37.0
pydantic==2.11.7
openai==1.53.0
httpx==0.28.1
requests==2.32.5
urllib3==2.3.0
geopy==2.4.1
numpy==1.26.4
pandas==2.2.3
jsonschema==4.23.0
tqdm==4.66.6
json_repair==0.30.0
scikit-learn==1.5.2
fuzzywuzzy==0.18.0
func_timeout==4.3.5
python-dotenv==1.0.1
PyYAML==6.0.3
datasets==3.2.0